.navbar {
    background-image:url('../img/bg1.png');
    background-repeat:repeat;
}
.jumbotron {
    background-color: transparent;
    padding: 0 0 0 0;
}
.green {
    color: #FF0000;
}
.thumbs {
    padding: 40px 0;
}
.thumbnail > img {
    max-width: 60%;
}
.footer {
    margin-top: 40px;
    padding: 40px 0;
}
.transition {
    padding: 5px 0;
}
