/* 
webapp - light red #FCC5C5
research - white #ffffff
hackathon - light blue #C5C5FC
other - grey #eeeeee
*/

#classifyed:after {
  background-image: url("../img/ProjClass.png");
}

#scala:after {
  background-image: url("../img/ProjScala.png");
}

#maza:after {
  background-image: url("../img/Logo.png");
}

#mun:after {
  background-image: url("../img/ProjMUN.jpg");
}

#emerge:after {
  background-image: url("../img/ProjEmerge.jpg");
}

#flip:after {
  background-image: url("../img/ProjFlip.jpg");
}

#counsel:after {
  background-image: url("../img/ProjCounsel.png");
}

#python:after {
  background-image: url("../img/ProjPython.png");
}

#tamagome:after {
  background-image: url("../img/tamagome.png");
}

#mbti:after {
  background-image: url("../img/brain.jpg");
}

#welp:after {
  background-image: url("../img/welp.png");
}

#char:after {
  background-image: url("../img/comic.jpg");
}

#truck:after {
  background-image: url("../img/truck.jpg");
}

#tuttle:after {
  background-image: url("../img/ProjTuttlemonGO.png");
}

#teach:after {
  background-image: url("../img/teach.jpg");
}

#lessons:after {
  background-image: url("../img/lessons.png");
}

#crops:after {
  background-image: url("../img/crops.png");
}

#sneaky:after {
  background-image: url("../img/sneaky.png");
}

#protest:after {
  background-image: url("../img/protest.png");
}

#chesstier:after {
  background-image: url("../img/chesstier.jpg");
}

#cardblast:after {
  background-image: url("../img/cardblast.png");
}

#theday:after {
  background-image: url("../img/ProjDayIMet.png");
}

#aiexp:after {
  background-image: url("../img/ProjAiExp.png");
}

#mighty:after {
  background-image: url("../img/ProjMighty.png");
}

#poem:after {
  background-image: url("../img/ProjPoem.png");
}

#jokebot:after {
  background-image: url("../img/ProjJoke.jpeg");
}

#teacherbot:after {
  background-image: url("../img/ProjTeacher.png");
}

#magical:after {
  background-image: url("../img/ProjMagical.png");
}

#coteach:after {
  background-image: url("../img/ProjCoteach.png");
}

#anki:after {
  background-image: url("../img/ProjAnki.png");
}